:root{
    --input-height: 45px;
    --switch-width: 45px;
    --switch-height: 25px;
}

/* COMMONS */
input, button{

    cursor: pointer;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    border: 0;
    transition: 0.1s;
}

button.submit{
    
    font-size: large;
    color: white;
    padding: var(--indent) var(--strong-indent);
    background: var(--primary-color);
    box-shadow: var(--shadow);
    height: var(--input-height);
}

input[type=date],
input[type=text]{cursor: text;}

input[type=text]{
    height: var(--input-height);
    padding: 0 var(--indent);
    outline: var(--light-border);
/*     width: calc(100% - 2*var(--indent)); */
/*     height: var(--input-height); */
}input[type=text]:focus{
     outline: var(--border);
 }

.link {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
}

/* BUTTONS */

button {
    padding: var(--indent);
    height: auto; 
}

:is(.button, .clickable):hover {
    filter: contrast(85%);
    cursor: pointer;
}

:is(option, button){ cursor: pointer; }
button{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
button img{
    height: 100%;
    width: 100%;
}
button:is(.affirmative, .negative){
    color: white;
}
button.frameless{
    padding: 0;
    border: 0;
    background: 0;
}
button.frameless:hover{
    transform: scale(1.1);
}
button.frameless:active{
    opacity: 0.5;
}
button.cancel {
    color: var(--cancel-color);
}
button.giant {
    display: flex;
    font-size: x-large;
    height: 100%;
    width: 100%;
}
button.affirmative{
    background: var(--primary-color);
}
button.negative{
    background: var(--negative-color);
    border-color: var(--negative-color);
}
button.submit:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}
:is(option, button):hover  {
    filter: contrast(85%)
}
:is(option, button):active {
    filter: contrast(60%)
}
/* SWITCH */
label.switch {
    display: flex;
    margin-left: var(--switch-width);
    font-size: large;
    min-width: min-content;
    max-width: max-content;
    justify-content: start;
    align-items: center;
    height: var(--input-height);
}

label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

label.switch .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--switch-height);
    width: var(--switch-width);
    height: var(--switch-height);
    transform: translateX(-100%);
}

label.switch .slider:before {
    position: absolute;
    content: "";
    height: calc(var(--switch-height) - 6px);
    width: calc(var(--switch-height) - 6px);
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .2s;
    border-radius: var(--switch-height);
}
label.switch input:hover + .slider {
    background: var(--secondary-color);
}

label.switch input:checked + .slider {
    background-color: var(--primary-color);
}

label.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}

label.switch input:checked + .slider:before {
    transform: translateX(calc(var(--switch-width) - var(--switch-height)));
}

/* TEXTAREA */
.textarea {
    padding: var(--light-indent);
    min-height: calc(var(--input-height) - var(--light-indent) * 2);
    min-width: 200px;
    white-space: pre;
    background: white;
    cursor: text;
    overflow: auto;
    outline: var(--light-border);
    border-radius: var(--border-radius);
}
.textarea, .textarea *{
    font-family: Monospace;
}
.textarea:focus{
    outline: var(--border);
    box-shadow: var(--shadow)
}

/* SELECT */
select, .multiselect {
    height: var(--input-height);
    width: 100%;
    color: var(--primary-color);
    outline: var(--light-border);
    background: white;
    cursor: pointer;
}
select{
     padding: 0 var(--indent);
}

select, .multiselect, .multiselect *:not(:is(.vscomp-option, .vscomp-option-text, .vscomp-search-container, .vscomp-value)) {
    border-radius: var(--border-radius);
    border: none;
}
.multiselect .vscomp-options-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.vscomp-wrapper.focused .vscomp-toggle-button, .vscomp-wrapper:focus .vscomp-toggle-button{
    box-shadow: none;
    outline: var(--border);
}
.multiselect .vscomp-dropbox-container {
    box-shadow: var(--shadow);
}
.multiselect > .vscomp-toggle-button{
    padding: var(--indent);
}
.multiselect > .vscomp-toggle-button{
    border: 0;
}

.multiselect input[type=text]{
    outline: 0;
}

.multiselect :is(.vscomp-option:hover, .vscomp-option.selected) .vscomp-option-text{
    white-space: normal;
}

/* DATEPICKER */
.datepicker{
    display: flex;
    outline: var(--light-border);
    width: 100%;
    border-radius: var(--border-radius);
    background: white
}
.datepicker :is(input, button){
    border: none;
    padding: 0 var(--indent);
    background: transparent;
    font-size: medium;
}
.datepicker input{
    width: 100%;
    height: var(--input-height);
    font-size: medium;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.datepicker input:focus{
    outline: none;
}
.datepicker button{
    font-size: large;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.datepicker img{
    height: 80%;
}
.wrong .datepicker  {
    outline: 1px solid var(--negative-color);
}

/* CODEAREA */

.codearea {
    display: flex;
    min-height: calc(var(--input-height) - var(--light-indent) * 2);
    min-height: var(--input-height);
    border: var(--light-border);
/*     border-radius: var(--border-radius); */
    background: white;
}
.codearea * {
    font-family: monospace, serif;
    transition: none !important;
}
.codearea .cm-gutter * {
    color: gray;
}
.codearea > * {
    width: 100%;
    background: white;
}
.codearea .cm-focused {
    outline: none;
}
.codearea .cm-scroller {
    overflow: unset;
}
.codearea .cm-content{
    cursor: text;
}
.codearea .cm-tooltip-autocomplete {
}


/* NUMBER */
input[type=number]{
   height: var(--input-height);
   width: 100%;
   padding: 0 var(--indent);
   outline: var(--light-border);
    font-size: large;
    cursor: text;
}
input[type=number]:focus{
    outline: thin solid var(--primary-color);
}

/* COLOR */
div.color {
    display: flex;
    height: var(--input-height);
    border: var(--light-border);
    background: white;
    border-radius: var(--border-radius);
    overflow: hidden;
}
div.color > input{
    width: 50%;
    height: 100%;
    border: none;
    background: none;
     border-radius: 0;
}
div.color > input[type=color]{
    padding:  var(--indent);
}
