table {
    border-spacing: 0;
    overflow-x: scroll;
    background: white;
    padding-bottom: var(--indent);
}
:is(th, td){
    border-right: var(--light-border);
    border-top: var(--light-border);
    background: white;
}
thead tr:first-of-type :is(th, td){
    border-top: 0;
}
td:last-of-type{
    border-right: 0;
}

:is(thead, tfoot) {
    z-index: 10;
    position: sticky;
    top: -1px;
    bottom: 0;
    transition: none;
}
thead > .tool-bar td > div{
    display: flex;
    align-items: end;
    gap: var(--indent);
}
thead > .tool-bar .nav-pages {
    display: flex;
    align-items: end;
    margin-left: auto;
    gap: var(--indent);
}
thead > .tool-bar :is(.pages-bar, .pages){
    display: flex;
    gap: var(--indent);
}
thead > .tool-bar .pages{
    overflow-x: auto;
}
thead > .tool-bar .pages-bar > button{
    padding: var(--indent);
    background: none;
}
thead .tool-bar .pages button{
    min-width: 20px;
    height: 100%;
    padding: 0 10px;
    border: 1px solid transparent;
}
thead > .tool-bar .pages button.active{
    background: none;
    border: var(--border);
}
thead > .tool-bar .field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto var(--strong-indent) auto 0;
    width: auto;
}
thead > .tool-bar :is(.switch, .select) {
    height: auto;   
}
thead > .tool-bar .select-field .select > *{
    height: auto;
}
thead > .tool-bar .select-field .select .vscomp-wrapper{
    outline: none;
}

thead tr.operations th {
    position: relative;
    padding: 0;
    max-height: 0;
    border-top: none;
}

thead tr.operations th .sort {
    position: absolute;
    right: 0;
    opacity: 0.5;
    height: 20px;
    width: 20px;
    padding: 0;
    transform: translateX(calc(0px - var(--indent))) translateY(calc(-20px - var(--indent)));
}
thead tr.operations th .sort:is(:hover, .asc, .desc) {
    opacity: 1;
}

thead tr.operations th input[type=text] {
    display: block;
    height: 0;
    opacity: 0;
    margin: 0 var(--indent);
    max-width: calc(100% - (var(--indent) * 4));
    opacity: 0.5;
    border-radius: 20px;
}
thead:hover tr.operations th input[type=text],
thead tr.operations th input[type=text]:focus,
thead tr.operations th input[type=text]:not(:placeholder-shown){
    height: 30px;
    margin-bottom: var(--indent);
}
thead tr.operations th input[type=text]:focus,
thead tr.operations th input[type=text]:not(:placeholder-shown){
    opacity: 1;
}

tfoot .operations td > .actions {
    display: flex;
    justify-content: space-between;
}

th {
    padding: var(--indent);
    color: white;
    width: 100vw;
    vertical-align: bottom;
    text-align: center !important;
    font-size: 16px;
    font-weight: normal;
    background: var(--primary-color);
}

td {
    padding: var(--indent);
    vertical-align: top;
}

tbody td {
    color: var(--primary-color);
    font-size: 14px;
}

td, td * {
    transition: 0.2s;
}

:is(tr.total td, td.total){
    font-weight: bold;
    background: var(--secondary-color);
}

:is(td, th).checkbox{
    vertical-align: top;
    width: min-content;
}

tr.total td{
    background: var(--secondary-color);
}

table :is(input, select, button) {
    height: auto;
}

table input[type=checkbox]{
    transform: scale(1.5);
    background-color: aqua;
}

td > button{
    padding: 0;
    margin-left: auto !important;
    background: transparent !important;
    filter: none !important;
    transform: translateY(-15px) !important;
}

td.number.number {
    text-align: right !important;
}
td.string.string, td.text.text {
    text-align: left;
}

td.tiled {
    padding: var(--light-indent);
    vertical-align: middle;
    border: none;
}
td.tiled .tile {
    padding: var(--indent);
    min-height: max-content;
    border-radius: var(--border-radius);
}
tfoot .children-buttons > td {
    border: 0;
    background: rgb(120 120 200 / 0.1);
}

tfoot .children-buttons > td > div {
   display: flex;
    gap: var(--light-indent);
}
tfoot .children-buttons > td > div > button{
    padding: var(--light-indent) var(--indent);
}
table .children-buttons img {
    height: 50px;
}

table tr:last-of-type > td{
    border-bottom: var(--light-border);
}
table .field {
/*     width: 243px; */
}