:root {
  --tile-color-1: #FFD2C2;
  --tile-color-2: #D1F7E8FF;
  --tile-color-3: #D2E0FAFF;
  --tile-color-4: #C8C2E4FF;
}

.tiles .configurator > .dropdown {
  right: 0;
}

.tile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--indent);
}
.tile-wrapper > .actions {
  display: flex;
  justify-content: space-between;
}
.tile-wrapper > p {
  margin: 0;
}
.tile-wrapper > .actions {
  display: flex;
}


.tile {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: var(--indent);
  gap: var(--indent);
  border-radius: var(--border-radius);
}


.tile *{
  color: inherit;
}