#editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50vh;
  width: 100%;
}

#editor > .tool-bar {
  z-index: 25;
  display: flex;
  align-self: start;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  max-width: calc(100vw - var(--strong-indent) * 2);
  top: var(--indent);
/*   padding: var(--strong-indent) 0; */
  border-bottom: var(--light-border);
  transform: translateY(calc(0px - var(--indent)));
  background: var(--background-color);
}

#editor > .tool-bar input[type=text]{
  width: 125px;
}

/* CONFIGURATOR */

.configurator {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  border: var(--light-border);
  border-radius: calc(var(--strong-indent) * 2);
  min-width: 43px;
  height: 43px;
/*   height: 30px; */
  transition: 0.3s;
}

.configurator:is(:hover, .editing.editing) {
  z-index: 20;
  border-radius: var(--outer-border-radius);
}

.configurator > p {
  z-index: 0;
  min-width: 22px;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: var(--indent);
  align-self: start;
  color: var(--primary-color);
  font-size: large;
  white-space: nowrap;
  cursor: pointer;
}

.configurator > .dropdown {
  z-index: 100;
  position: absolute;
  display: flex;
  align-items: end;
  flex-direction: column;
  min-width: 350px;
  padding: var(--indent);
  gap: var(--indent);
  background: var(--solid-color);
  border-radius: var(--outer-border-radius);
  outline: var(--light-border);
  box-shadow: var(--shadow);
/*   overflow: auto; */
}

.configurator > .dropdown.left {
  right: 0;
}
.configurator > .dropdown.right {
  left: 0;
}

.configurator > .dropdown > p {
  padding: var(--indent);
  font-size: large;
  margin: auto;
}
.configurator > .dropdown > button.cancel {
  height: auto;
}

/* FORM */

.configurator form {
    width: 100%;
    gap: var(--indent);
    padding: 0;
}
.configurator form .field{
    height: auto;
}

form.editable {
  background: var(--background-color);
}

form.editable > .section {
  border-bottom: var(--light-border) !important;
  padding-bottom: var(--indent);
  gap: var(--indent);
}

form.editable > .section .field .actions {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* DIAGRAM */

.block-diagram {
  display: flex;
  flex-direction: column;
  gap: 130px;
/*   max-width: 90vw; */
}


.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  
  padding: var(--indent);
  background: white;
  border-radius: var(--outer-border-radius);
}

.block.submit {
  background: var(--primary-color);
  height: 50px;
  width: min-content;
  align-self: center;
}
.block > p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
/*   width: 100%; */
  height: 100%;
  min-height: 106px;
  gap: var(--indent);
  font-size: 18pt;
  margin: 0 var(--strong-indent);
  padding: 0;
}
.block > p > img {
  height: 50px;
}
.block.submit > p {
  color: white;
}
.block:not(.submit):hover > p {
  min-height: 43px;
}
.block.submit:hover > p {
  padding-top: var(--indent);
}

.block:hover > .preview {
  margin-top: 10px;
  margin-bottom: 10px;
}

.block .actions {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: var(--indent);
  height: 0;
  opacity: 0;
}
.block .actions .action.move {
  margin-right: auto;
}
.block:not(.submit) .actions {
  border-top: var(--light-border);
}
.block .actions:empty,
.block .actions > span:empty{
  display: none;
}
.block .actions > button {
  padding: var(--indent);
  width: min-content;
  height: 45px
}

.block:hover{
  box-shadow: var(--shadow);
}

.block:hover .actions {
  pointer-events: auto;
  opacity: 1;
}

.block:not(.submit):hover .actions {
  height: 43px;
    margin-top: var(--indent);
  padding-top: var(--indent);
}
.block.submit:hover .actions {
  z-index: 10;
  padding-top: var(--indent);
}
.block.submit:hover .actions .configurator {
  background: var(--background-color);
}


.block-diagram .siblings {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--strong-indent);
  /*! background: red; */
}


/* REPORTS */
table.editable .configurator > .dropdown{
    right: 0;
  bottom: 0;
  max-height: 90vh;
  overflow: auto;
} 
table.editable td .configurator.editing {
    min-width: 255px;
/*     margin-left: 210px; */
}


/* MISC */

.block .configurator:not(:hover) {
/*   z-index: 0; */
}


.block .configurator > p {
  color: var(--primary-color);
  font-size: large;
}

.block .configurator:last-of-type > .dropdown {
  right: 0;
}

.action {
  display: flex;
  height: 25px;
  justify-content: end;
  gap: var(--indent);
}

